.cart-container {
    margin-top: 50px;
}

.cart-item {
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-item img {
    width: 100px;
}

.cart-item-details {
    flex-grow: 1;
}

.cart-item-price {
    font-weight: bold;
    font-size: 18px;
}

.cart-total {
    text-align: right;
}

.cart-total h4 {
    font-weight: bold;
}

.cart-total .total-price {
    font-size: 24px;
    color: #28a745;
}

.quantity-counter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantity-counter button {
    border: none;
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
}

.quantity-counter input {
    width: 50px;
    text-align: center;
    border: none;
    background-color: #f8f9fa;
    font-size: 16px;
}