<!-- Header Start -->
<div class="container-fluid bg-breadcrumb">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h4 class="text-white display-4 mb-4 wow fadeInDown" data-wow-delay="0.1s">Công Dụng</h4>
        <ol class="breadcrumb d-flex justify-content-center mb-0 wow fadeInDown" data-wow-delay="0.3s">
            <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
            <!-- <li class="breadcrumb-item"><a href="#">Pages</a></li> -->
            <li class="breadcrumb-item active text-primary">Công dụng</li>
        </ol>    
    </div>
</div>
<!-- Header End -->

<!-- Service Start -->
<div class="container-fluid service bg-light overflow-hidden py-5">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <h4 class="text-uppercase text-primary">Công dụng của yến</h4>
            <h1 class="display-3 text-capitalize mb-3">Chăm sóc sức khoẻ</h1>
        </div>
        <div class="row gx-0 gy-4 align-items-center">
            <div class="col-lg-6 col-xl-4 wow fadeInLeft" data-wow-delay="0.2s">
                <div class="service-item rounded p-4 mb-4">
                    <div class="row">
                        <div class="col-12">
                            <div class="d-flex">
                                <div class="service-content text-end">
                                    <a href="#" class="h4 d-inline-block mb-3">Tăng cường hệ miễn dịch</a>
                                    <p class="mb-0">Yến sào chứa nhiều protein, vitamin và khoáng chất, giúp tăng cường sức đề kháng và hỗ trợ hệ miễn dịch hoạt động hiệu quả hơn.</p>
                                </div>
                                <div class="ps-4">
                                    <div class="service-btn"><i class="fas fa-hand-holding-water text-white fa-2x"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="service-item rounded p-4 mb-4">
                    <div class="row">
                        <div class="col-12">
                            <div class="d-flex">
                                <div class="service-content text-end">
                                    <a href="#" class="h4 d-inline-block mb-3">Hỗ trợ tiêu hóa</a>
                                    <p class="mb-0"> Các enzyme trong yến sào giúp cải thiện chức năng tiêu hóa, hỗ trợ hấp thu dinh dưỡng và giảm tình trạng táo bón.</p>
                                </div>
                                <div class="ps-4">
                                    <div class="service-btn"><i class="fas fa-dumpster-fire text-white fa-2x"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="service-item rounded p-4 mb-0">
                    <div class="row">
                        <div class="col-12">
                            <div class="d-flex">
                                <div class="service-content text-end">
                                    <a href="#" class="h4 d-inline-block mb-3">Tăng cường sức khỏe hô hấp</a>
                                    <p class="mb-0">Yến sào có khả năng hỗ trợ điều trị các vấn đề về hô hấp như ho, viêm phế quản, và tăng cường sức khỏe của hệ hô hấp.</p>
                                </div>
                                <div class="ps-4">
                                    <div class="service-btn"><i class="fas fa-filter text-white fa-2x"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="bg-transparent">
                    <img src="images/yendonghop.jpg" class="img-fluid w-100" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-xl-4 wow fadeInRight" data-wow-delay="0.2s">
                <div class="service-item rounded p-4 mb-4">
                    <div class="row">
                        <div class="col-12">
                            <div class="d-flex">
                                <div class="pe-4">
                                    <div class="service-btn"><i
                                            class="fas fa-assistive-listening-systems text-white fa-2x"></i></div>
                                </div>
                                <div class="service-content">
                                    <a href="#" class="h4 d-inline-block mb-3">Cải thiện sức khỏe da</a>
                                    <p class="mb-0">Yến sào giàu collagen, giúp duy trì độ đàn hồi của da, giảm nếp nhăn và làm da mềm mịn hơn.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="service-item rounded p-4 mb-4">
                    <div class="row">
                        <div class="col-12">
                            <div class="d-flex">
                                <div class="pe-4">
                                    <div class="service-btn"><i class="fas fa-recycle text-white fa-2x"></i></div>
                                </div>
                                <div class="service-content">
                                    <a href="#" class="h4 d-inline-block mb-3">Giúp làm đẹp và duy trì sức khỏe toàn diện</a>
                                    <p class="mb-0">Yến sào chứa nhiều axit amin cần thiết và chất dinh dưỡng, giúp cải thiện sức khỏe tổng thể, làm đẹp từ bên trong và tăng cường năng lượng.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="service-item rounded p-4 mb-0">
                    <div class="row">
                        <div class="col-12">
                            <div class="d-flex">
                                <div class="pe-4">
                                    <div class="service-btn"><i class="fas fa-project-diagram text-white fa-2x"></i>
                                    </div>
                                </div>
                                <div class="service-content">
                                    <a href="#" class="h4 d-inline-block mb-3">Tăng cường sức khỏe xương khớp</a>
                                    <p class="mb-0">Một số nghiên cứu cho thấy yến sào có thể giúp cải thiện sức khỏe xương khớp nhờ vào lượng canxi và các khoáng chất khác.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->

