<!-- Navbar & Hero Start -->
<div class="container-fluid position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
        <a href="" class="navbar-brand p-0">
            <h1 class="text-primary"><i class="fas fa-hand-holding-water me-3"></i>PHGroup</h1>
            <!-- <img src="img/logo.png" alt="Logo"> -->
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                <a routerLink="/home" routerLinkActive="active" class="nav-item nav-link">Trang chủ</a>
                <a routerLink="/about-us" routerLinkActive="active" class="nav-item nav-link">Giới thiệu</a>
                <a routerLink="/service" routerLinkActive="active" class="nav-item nav-link">Công dụng</a>
                <a routerLink="/blog" routerLinkActive="active" class="nav-item nav-link">Blog</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                    <div class="dropdown-menu m-0">
                        <a routerLink="/feature" class="dropdown-item">Our Feature</a>
                        <a routerLink="/product" class="dropdown-item">Our Product</a>
                        <a routerLink="/team" class="dropdown-item">Our Team</a>
                        <a routerLink="/testimonial" class="dropdown-item">Testimonial</a>
                        <a routerLink="/faqs" class="dropdown-item">FAQs</a>
                        <a routerLink="/404" class="dropdown-item">404 Page</a>
                    </div>
                </div>
                <a routerLink="/contact" routerLinkActive="active" class="nav-item nav-link">Liên hệ</a>
            </div>
            <div class="d-none d-xl-flex me-3">
                <div class="d-flex flex-column pe-3 border-end border-primary">
                    <span class="text-primary">Miễn phí vận chuyển</span>
                    <a href="tel:+4733378901"><span class="text-primary">Liên hệ: 0972603267</span></a>
                </div>
            </div>
            <button class="btn btn-primary btn-md-square d-flex flex-shrink-0 mb-3 mb-lg-0 rounded-circle me-3" data-bs-toggle="modal" data-bs-target="#searchModal">
                <i class="fas fa-search"></i>
            </button>
            <a href="" class="btn btn-primary rounded-pill d-inline-flex flex-shrink-0 py-2 px-4">Order Now</a>
        </div>
    </nav>
    
</div>
<!-- Navbar & Hero End -->
 <!-- Modal Search Start -->
 <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content rounded-0">
            <div class="modal-header">
                <h4 class="modal-title mb-0" id="exampleModalLabel">Search by keyword</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex align-items-center">
                <div class="input-group w-75 mx-auto d-flex">
                    <input type="search" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1">
                    <span id="search-icon-1" class="input-group-text btn border p-3"><i class="fa fa-search text-white"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Search End -->