<nav id="header" class="navbar navbar-expand-lg navbar-dark bg-primary">
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mb-2 mb-lg-0 justify-content-start">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" aria-current="page" data-bs-toggle="toggle" data-bs-target="#navbarNav">Trang chủ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about-us" aria-current="page" data-bs-toggle="toggle" data-bs-target="#navbarNav">Giới thiệu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/product" aria-current="page" data-bs-toggle="toggle" data-bs-target="#navbarNav">Sản phẩm</a>
        </li>   
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Expand page
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/unauthorized">Unauthorized</a>
            <a class="dropdown-item" routerLink="/notfound">Notfound</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/email-compose">Email Compose</a>
            <a class="dropdown-item" routerLink="/email-list">Email List</a>
            <a class="dropdown-item" routerLink="/admin/email-admin">Email Admin</a>
          </div>
        </li> -->
      </ul>
    </div>
  </nav>