<div class="row g-4 justify-content-center">
    <div class="col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.2s">
        <div class="product-item">
            <img src="{{product.image}}" class="img-fluid w-100 rounded-top" alt="Image">
            <div class="product-content bg-light text-center rounded-bottom p-4">
                <a href="#" class="h4 d-inline-block mb-3">{{product.name}}</a>
                <p>{{product.description}}</p>
                <p class="fs-4 text-primary mb-3">{{product.price}}</p>
                <a href="#" class="btn btn-secondary rounded-pill py-2 px-4">Thêm giỏ hàng</a>
            </div>
        </div>
    </div>
</div>