<!-- Testimonial Start -->
<div class="testimonials-section">
    <div class="text-center mx-auto pb-5" style="max-width: 600px;">
        <h4 nz-typography class="text-primary">Phản hồi</h4>
        <h1 nz-typography class="display-5 text-capitalize mb-4">Đánh giá của khách hàng</h1>
    </div>
    <nz-carousel nzEffect="fade" nzAutoPlay nzDotPosition="bottom">
        <div nz-carousel-content *ngFor="let testimonial of testimonials">
            <div class="testimonial-item">
                <p nz-typography class="mb-4">{{ testimonial.text }}</p>
                <nz-avatar [nzSrc]="testimonial.image" nzShape="circle" [nzSize]="120"
                    class="testimonial-avatar"></nz-avatar>
                <h4 class="testimonial-name">{{ testimonial.name }}</h4>
                <p nz-typography class="text-muted mb-3">{{ testimonial.profession }}</p>
                <nz-rate [ngModel]="testimonial.rating" nzDisabled></nz-rate>
            </div>
            <br>
        </div>
    </nz-carousel>
</div>
<!-- Testimonial End -->