 <!-- Header Start -->
 <div class="container-fluid bg-breadcrumb">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h4 class="text-white display-4 mb-4 wow fadeInDown" data-wow-delay="0.1s">Danh mục sản phẩm</h4>
        <ol class="breadcrumb d-flex justify-content-center mb-0 wow fadeInDown" data-wow-delay="0.3s">
            <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
            <!-- <li class="breadcrumb-item"><a href="#">Pages</a></li> -->
            <li class="breadcrumb-item active text-primary">Sản phẩm</li>
        </ol>    
    </div>
</div>
<!-- Header End -->

<!-- Products Start -->
<div class="container-fluid product py-5">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <h4 class="text-uppercase text-primary">Danh Mục Sản Phẩm</h4>
            <h3 class="display-3 text-capitalize mb-3">Cam kết 100% yến nguyên chất</h3>
        </div>
        <div class="row g-4 justify-content-center">
            <div class="col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.2s">
                <div class="product-item">
                    <img src="images/yendonghop1.jpg" class="img-fluid w-100 rounded-top" alt="Image">
                    <div class="product-content bg-light text-center rounded-bottom p-4">
                        <p>100gram 1 Hộp</p>
                        <a href="#" class="h4 d-inline-block mb-3">Yến Tinh Chế</a>
                        <p class="fs-4 text-primary mb-3">3.300.000</p>
                        <a href="#" class="btn btn-secondary rounded-pill py-2 px-4">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.4s">
                <div class="product-item">
                    <img src="images/toyentho1.jpg" class="img-fluid w-100 rounded-top" alt="Image">
                    <div class="product-content bg-light text-center rounded-bottom p-4">
                        <p>100gram 1 Hộp</p>
                        <a href="#" class="h4 d-inline-block mb-3">Yến Thô</a>
                        <p class="fs-4 text-primary mb-3">2.300.000</p>
                        <a href="#" class="btn btn-secondary rounded-pill py-2 px-4">Read More</a>
                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.6s">
                <div class="product-item">
                    <img src="img/product-1.png" class="img-fluid w-100 rounded-top" alt="Image">
                    <div class="product-content bg-light text-center rounded-bottom p-4">
                        <p>6L 3 Bottles</p>
                        <a href="#" class="h4 d-inline-block mb-3">UV Water Bottle</a>
                        <p class="fs-4 text-primary mb-3">$100:00</p>
                        <a href="#" class="btn btn-secondary rounded-pill py-2 px-4">Read More</a>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>
<!-- Products End -->
