<!-- About Start -->
 <div class="container-fluid about py-5">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-xl-6 wow fadeInLeft" data-wow-delay="0.2s">
                <div class="about-img rounded h-100">
                    <img src="img/about.jpg" class="img-fluid rounded h-100 w-100" style="object-fit: cover;" alt="">
                    <div class="about-exp"><span>5 Năm Kinh Nghiệm</span></div>
                </div>
            </div>
            <div class="col-xl-6 wow fadeInRight" data-wow-delay="0.2s">
                <div class="about-item">
                    <h4 class="text-primary text-uppercase">Giới thiệu</h4>
                    <h1 class="display-3 mb-3">Yến sào Thanh Bình.</h1>
                    <p class="mb-4">Yến sào nguyên chất, đảm bảo chất lượng và sức khoẻ của bạn
                    </p>
                    <div class="bg-light rounded p-4 mb-4">
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex">
                                    <div class="pe-4">
                                        <div class="rounded-circle bg-primary d-flex align-items-center justify-content-center" style="width: 80px; height: 80px;"><i class="fa fa-thumbs-up text-white fa-2x" aria-hidden="true"></i></div>
                                    </div>
                                    <div class="">
                                        <a href="#" class="h4 d-inline-block mb-3">Khách hàng hài lòng</a>
                                        <p class="mb-0">Chúng tôi luôn đặt sự hài lòng của khách hàng lên hàng đầu. Chúng tôi hiểu rằng mỗi sản phẩm tổ yến mà chúng tôi cung cấp không chỉ là một sản phẩm, mà còn là sự tin tưởng và kỳ vọng từ phía khách hàng.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bg-light rounded p-4 mb-4">
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex">
                                    <div class="pe-4">
                                        <div class="rounded-circle bg-primary d-flex align-items-center justify-content-center" style="width: 80px; height: 80px;">
                                            <!-- <i class="fas fa-faucet text-white fa-2x"></i> -->
                                            <i class="fa fa-check text-white fa-2x" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <div class="">
                                        <a href="#" class="h4 d-inline-block mb-3">Sản phẩm tiêu chuẩn</a>
                                        <p class="mb-0">Chúng tôi tự hào cung cấp những sản phẩm yến sào đạt tiêu chuẩn chất lượng cao nhất, mang đến giá trị dinh dưỡng tuyệt vời cho sức khỏe của bạn và gia đình.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="btn btn-secondary rounded-pill py-3 px-5">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

<!-- Fact Counter -->
<div class="container-fluid counter py-5">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.2s">
                <div class="counter-item">
                    <div class="counter-item-icon mx-auto">
                        <i class="fas fa-thumbs-up fa-3x text-white"></i>
                    </div>
                    <h4 class="text-white my-4">Khách hàng hài lòng</h4>
                    <div class="counter-counting">
                        <span class="text-white fs-2 fw-bold" data-toggle="counter-up">456</span>
                        <span class="h1 fw-bold text-white">+</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.4s">
                <div class="counter-item">
                    <div class="counter-item-icon mx-auto">
                        <i class="fas fa-truck fa-3x text-white"></i>
                    </div>
                    <h4 class="text-white my-4">Vận chuyển</h4>
                    <div class="counter-counting">
                        <span class="text-white fs-2 fw-bold" data-toggle="counter-up">513</span>
                        <span class="h1 fw-bold text-white">+</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.6s">
                <div class="counter-item">
                    <div class="counter-item-icon mx-auto">
                        <i class="fas fa-users fa-3x text-white"></i>
                    </div>
                    <h4 class="text-white my-4">Nhân viên</h4>
                    <div class="counter-counting">
                        <span class="text-white fs-2 fw-bold" data-toggle="counter-up">30</span>
                        <span class="h1 fw-bold text-white">+</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.8s">
                <div class="counter-item">
                    <div class="counter-item-icon mx-auto">
                        <i class="fas fa-heart fa-3x text-white"></i>
                    </div>
                    <h4 class="text-white my-4">Kinh nghiệm</h4>
                    <div class="counter-counting">
                        <span class="text-white fs-2 fw-bold" data-toggle="counter-up">5</span>
                        <span class="h1 fw-bold text-white">+</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fact Counter -->

<!-- feature Start -->
<div class="container-fluid feature bg-light py-5">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <h4 class="text-uppercase text-primary">Uy tín tạo nên thương hiệu</h4>
            <!-- <h1 class="display-3 text-capitalize mb-3">Một sản phẩm giúp nâng cao sức khoẻ cho mọi người</h1> -->
        </div>
        <div class="row g-4">
            <div class=" col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.2s">
                <div class="feature-item p-4">
                    <div class="feature-icon mb-3"><i class="fas fa-hand-holding-water text-white fa-3x"></i></div>
                    <a href="#" class="h4 mb-3">Cam kết 100% Yến nguyên chất</a>
                    <p class="mb-3">Tổ yến được hái từ nhà yến, đảm bảo chất lượng.</p>
                    <a href="#" class="btn text-secondary">Đọc Thêm <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.4s">
                <div class="feature-item p-4">
                    <div class="feature-icon mb-3"><i class="fas fa-filter text-white fa-3x"></i></div>
                    <a href="#" class="h4 mb-3">Quy trình tinh chế</a>
                    <p class="mb-3">Chúng tôi chọn lọc những tổ yến từ nhà yến và tinh chế theo 1 quy trình nhất định để
                        đảm bảo yến không bị mất chất</p>
                    <a href="#" class="btn text-secondary">Đọc Thêm <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.6s">
                <div class="feature-item p-4">
                    <div class="feature-icon mb-3"><i class="fas fa-recycle text-white fa-3x"></i></div>
                    <a href="#" class="h4 mb-3">Giao hàng nhanh chóng</a>
                    <p class="mb-3">Giao hàng nhanh chóng, đảm bảo bạn nhận được sản phẩm trong thời gian ngắn nhất.</p>
                    <a href="#" class="btn text-secondary">Đọc Thêm <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.8s">
                <div class="feature-item p-4">
                    <div class="feature-icon mb-3"><i class="fas fa-microscope text-white fa-3x"></i></div>
                    <a href="#" class="h4 mb-3">Chính sách đổi trả</a>
                    <p class="mb-3"> Với chính sách đổi trả linh hoạt, bạn có thể an tâm trải nghiệm sản phẩm của chúng
                        tôi</p>
                    <a href="#" class="btn text-secondary">Đọc Thêm <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- feature End -->
  