<!-- Blog Start -->
<div class="container-fluid blog pb-5">
    <div class="container pb-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <h4 class="text-uppercase text-primary">Tin tức</h4>
            <h1 class="display-3 text-capitalize mb-3">Tin tức & Cẩm nang</h1>
        </div>
        <div class="row g-4 justify-content-center">
            <div class="col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.2s" *ngFor="let event of events">
                <div class="blog-item" (click)="selectEvent(event.id)">
                    <div class="blog-img">
                        <img src="{{event.image}}" class="img-fluid rounded-top w-100" alt="">
                        <div class="blog-date px-4 py-2"><i class="fa fa-calendar-alt me-1"></i> 10/01/2024</div>
                    </div>
                    <div class="blog-content rounded-bottom p-4">
                        <a class="h4 d-inline-block mb-3">{{ event.title }}</a>
                        <!-- <p>{{ event.description}}</p> -->
                        <a class="fw-bold text-secondary">Đọc Thêm<i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  
<!-- Blog End -->

